
# Python bytecode
*.pyc
__pycache__/

# Vim/Editor swap files
*.swp
*.swo
*.swn

# Hidden editor files
.*.sw?

# Backup files
*.bak

# IPython/Jupyter files
.ipynb*

# Build artifacts
build/
dist/
ocms_shotgun.egg-info/

# Hidden temporary files
._*

# Miscellaneous
#*
